* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.footer1 {
    background-color: #B974DF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer1 img {
    width: 1190px;
}

.footer2 a img {
    width: 30px;
}
.fab{
    text-decoration: none;
}

.fab a :hover {
    text-decoration: underline;
}


.filter{
    background-color: #F1F1F2;
}


.side2 img {
    width: 70px;
}

.side1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 20px;
    position: absolute;
    top: 10px;
    border: 2px solid red;
}

.side2 {
    border: 2px solid red;
    width: 100px;
    margin: auto;
    position: absolute;
    top: 10px;
    left: 520px;
    /* position: absolute; */
}
.d-flex{
    width: 600px;

}
/* nav{
    padding-left: 50px;
} */
/* .navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
} */
.footer{
    padding-left: 50px;
    background-color: #F1F1F2;
    
}
.footer img{
    width: 20px;

}
.fat img{
    width: 100px;
   
}
.container{
    padding-top: 30px;
}
.fat{
     display: flex;
    align-items: center;
    justify-content: center;

}
.fab img{
    background-color: #F1F1F2;
}
.navbar{
    margin: auto;
}
.btn{
    background-color: #FF9900;
}
.btn :hover{
    background-color: #E07E1B;
}
.navbar{
    padding-left: 50px;
}
.btn-group button{
    border: none;
}
.col-1{
    /* border: 2px solid black; */
    width: 200px;
    padding: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    
}
.container{
    height: 600px;
}
.col-1 p{
    font-size: 13px;
}
/* .dropdown{
    position: relative;
} */
.dropdown-content{
    display: none;
    /* position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.dropdown-menu{
    border: 2px solid black;
    background-color: white;
    padding: 10px 50px;
    /* border-radius: 10px; */
    /* box-shadow: 0px 0px 4px 4px gray; */
    border: none;
    /* line-height: 2; */
    position: absolute;
    top: 120px;
    left: 265px;
    /* visibility: hidden; */
    display: none;
    width: 600px;
    height: 340px;
}
.col{
    flex-wrap: none;
}



.products:hover .dropdown-menu{
    display: block;
    color: #222;
    /* visibility: visible; */
}
.hero{
    background-color: #F1F1F2;
    text-decoration: none;
    list-style-type: none;
}
.products p{
    color: black;
}
.products{
    text-decoration: none;
    list-style-type: none;
}
.col{
    border: 2px solid black;
    background-color: white;
    width: 50px;
    height: 200px;
    
    
}
.card-img{
    height: 1000px;
}
.col{
    width: 100px;
}

